@import "../../styles/variables.scss";

@keyframes dropdownMenuAnimationTop {
	0% {
		opacity: 0;
		transform: translateY(12px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes dropdownMenuAnimationBottom {
	0% {
		opacity: 0;
		transform: translateY(-12px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.le-dropdown {
	width: fit-content;
	height: fit-content;
	padding: 0;
	margin: 0;
	appearance: none;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	border-radius: 6px;
	box-shadow: #959da51a 0px 2px 24px;

	overflow: hidden;

	&--topRight,
	&--topLeft,
	&--topCenter {
		animation: dropdownMenuAnimationTop 0.3s ease-in-out;
	}

	&--bottomRight,
	&--bottomLeft,
	&--bottomCenter {
		animation: dropdownMenuAnimationBottom 0.3s ease-in-out;
	}

	&--filled {
		background-color: var(--le-color-border);
	}

	&--outlined {
		background: var(--le-color-backgroundOne);
		border: 1px solid var(--le-color-border);
	}

	&--small {
		font-size: 0.75rem;

		.le-dropdown--item {
			padding: 0.4rem 1rem;
		}
	}

	&--medium {
		font-size: 0.875rem;

		.le-dropdown--item {
			padding: 0.5rem 1.4rem;
		}
	}

	&--large {
		font-size: 1rem;

		.le-dropdown--item {
			padding: 0.6rem 1.6rem;
		}
	}

	&--anchor {
		width: fit-content;
		height: fit-content;

		display: flex;
		align-items: center;
		justify-content: center;
	}

	&--wrapper {
		position: relative;

		width: fit-content;
		height: fit-content;

		display: flex;
		flex-direction: column;

		&:hover {
			.le-dropdown--menu-wrapper {
				display: flex;
			}
		}
	}

	&--menu-wrapper {
		position: absolute;

		width: fit-content;
		height: fit-content;

		display: flex;
		flex-direction: column;

		z-index: 9999;

		&-bottomRight {
			padding-top: 0.4rem;
			top: 100%;
			right: 0;
		}

		&-bottomLeft {
			padding-top: 0.4rem;
			top: 100%;
			left: 0;
		}

		&-topRight {
			padding-bottom: 0.4rem;
			bottom: 100%;
			right: 0;
		}

		&-topLeft {
			padding-bottom: 0.4rem;
			bottom: 100%;
			left: 0;
		}

		&-topCenter {
			padding-bottom: 0.4rem;
			bottom: 100%;
			left: 50%;
			transform: translateX(-50%);
		}

		&-bottomCenter {
			padding-top: 0.4rem;
			top: 100%;
			left: 50%;
			transform: translateX(-50%);
		}

		&-hover {
			display: none;
		}
	}
}

.le-dropdown--item {
	width: 100%;
	list-style: none;

	font-size: inherit;
	line-height: normal;
	z-index: 9999;

	&:hover {
		cursor: pointer;
		background-color: rgba($color-variant-primary, 0.2);
	}

	&-centered {
		text-align: center;
	}

	&-no-break {
		white-space: nowrap;
	}

	&-disabled {
		cursor: not-allowed !important;
		background: $color-variant-disabled !important;
		color: var(--le-color-placeholder) !important;
	}
}

.le-dropdown--separator {
	list-style: none;
	appearance: none;
	height: 1px;
	display: flex;
	width: 100%;
	background-color: var(--le-color-placeholder);
	pointer-events: none;
}
