@import "../../styles/variables.scss";

.le-pagination {
	display: flex;
	flex-direction: row;
	align-items: center;

	line-height: normal;
	gap: unit(2);
	border: 1px solid var(--le-color-border);
	border-radius: 6px;

	&--wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		gap: unit(2);
		width: 100%;
	}

	&--hr {
		height: 100%;
		width: 1px;
		background-color: var(--le-color-border);
	}

	&--label {
		font-weight: 500;
		color: var(--le-color-placeholder);
		white-space: nowrap;

		strong {
			font-weight: 500;
			color: var(--le-color-textOne);
		}
	}

	&--prev {
		margin-right: 4px;
	}

	&--next {
		margin-left: 4px;
	}

	&--small {
		font-size: 0.75rem;
		line-height: normal;
		padding: unit(1) unit(1);
		max-height: 38px;
		min-height: 38px;
		height: 38px;
	}

	&--medium {
		font-size: 0.875rem;
		line-height: normal;
		padding: unit(1) unit(2);
		max-height: 42px;
		min-height: 42px;
		height: 42px;
	}

	&--large {
		font-size: 1rem;
		line-height: normal;
		padding: unit(1) unit(3);
		max-height: 46px;
		min-height: 46px;
		height: 46px;
	}

	&--button {
		display: flex;
		align-items: center;
		justify-content: center;

		width: fit-content;
		height: fit-content;
		border: none;
		background-color: transparent;
		color: var(--le-color-placeholder);

		font-weight: 600;

		transition: all 0.1s ease-in-out;

		&-group {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;

			gap: unit(1);
		}

		svg {
			* {
				transition: all 0.1s ease-in-out;

				fill: var(--le-color-placeholder);
			}
		}

		&-active {
			scale: 1.1;
			color: var(--le-color-primary);
		}

		&:hover {
			cursor: pointer;

			svg {
				* {
					transition: all 0.1s ease-in-out;

					fill: var(--le-color-primary);
				}
			}
		}

		&-disabled {
			cursor: not-allowed !important;
			color: var(--le-color-defaultGhost) !important;

			svg {
				* {
					fill: var(--le-color-defaultGhost) !important;
				}
			}
		}
	}
}
