.le-md--container {
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	.le-md--content {
		max-width: 1400px;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		flex: 1;

		padding: 0 16px;

		.le-docs {
			margin-left: 220px;
			padding: 24px;
		}
	}
}
