@import "../../styles/variables.scss";

.le-input {
	border-radius: 6px;
	outline: 0;
	border: 0;
	font-weight: 500;
	line-height: normal;

	&--filled {
		background-color: var(--le-color-inputBackground);
		color: var(--le-color-textTwo);
	}

	&--outlined {
		border: 1px solid var(--le-color-inputBackground);
		color: var(--le-color-textTwo);
		background-color: transparent;
	}

	&--small {
		font-size: 0.75rem;
		padding: 0.5rem 0.75rem;
	}

	&--medium {
		font-size: 0.875rem;
		padding: 0.625rem 0.875rem;
	}

	&--large {
		font-size: 1rem;
		padding: 0.75rem 1.125rem;
	}

	&:focus {
		outline: 2px solid $color-variant-primary;
	}

	&::placeholder {
		color: var(--le-color-placeholder);
		opacity: 1;
	}

	&:-ms-input-placeholder {
		color: var(--le-color-placeholder);
	}

	&::-ms-input-placeholder {
		color: var(--le-color-placeholder);
	}

	&--disabled,
	&:disabled {
		cursor: not-allowed !important;
		background: var(--le-color-disabled) !important;
		color: var(--le-color-textTwo) !important;

		&::placeholder {
			color: var(--le-color-textTwo);
			opacity: 1;
		}

		&:-ms-input-placeholder {
			color: var(--le-color-textTwo);
		}

		&::-ms-input-placeholder {
			color: var(--le-color-textTwo);
		}
	}
}
