@import "../../styles/variables.scss";

.le-modal--provider {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	z-index: 999;
	background: rgba(0, 0, 0, 0.2);
}
