@import "../../styles/variables.scss";

.le-badge {
	font-weight: 600;
	outline: none;
	border-radius: 6px;
	border: none;
	line-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	&--outlined {
		border-width: 1px;
		border-style: solid;

		@each $color, $value in $variant-colors {
			&.le-badge--#{$color} {
				color: var(--le-color-#{$color});
				background: transparent;
				border-color: var(--le-color-#{$color});
			}
		}

		&.le-badge--default {
			color: var(--le-color-textTwo);
			border-color: var(--le-color-default);
		}
	}

	&--dashed {
		border-width: 1px;
		border-style: dashed;

		@each $color, $value in $variant-colors {
			&.le-badge--#{$color} {
				color: var(--le-color-#{$color});
				background: transparent;
				border-color: var(--le-color-#{$color});
			}
		}

		&.le-badge--default {
			color: var(--le-color-textTwo);
			border-color: var(--le-color-default);
		}
	}

	&--ghost {
		@each $color, $value in $variant-colors {
			&.le-badge--#{$color} {
				color: var(--le-color-#{$color});
				background: var(--le-color-#{$color}Ghost);
			}
		}

		&.le-badge--default {
			color: var(--le-color-textTwo);
			border-color: var(--le-color-default);
			background-color: var(--le-color-defaultGhost);
		}
	}

	&--filled {
		@each $color, $value in $variant-colors {
			&.le-badge--#{$color} {
				color: white;
				background: var(--le-color-#{$color});
			}
		}

		&.le-badge--default {
			color: var(--le-color-textOne);
			background: var(--le-color-default);
		}
	}

	&--clickable {
		cursor: pointer;
		transition: all 0.2s ease;

		&:hover,
		&:active {
			opacity: 0.8;
		}
	}

	&--small {
		font-size: 0.625rem;
		padding: 0.375rem 0.5rem;
	}

	&--medium {
		font-size: 0.75rem;
		padding: 0.5rem 0.625rem;
	}

	&--large {
		font-size: 0.875rem;
		padding: 0.625rem 0.75rem;
	}
}
