.le-color-text--primary {
  color: #3680e7 !important;
}

.le-color-text--secondary {
  color: #8ca9d5 !important;
}

.le-color-text--success {
  color: #70c1b3 !important;
}

.le-color-text--danger {
  color: #f25f5c !important;
}

.le-color-text--warning {
  color: #ffd166 !important;
}

.le-color-text--default {
  color: #e3e6ed !important;
}

.le-color-text--dark {
  color: #3c3c3c !important;
}

.le-color-text--light {
  color: #ffffff !important;
}

.le-text--h1 {
  font-size: 2.5rem !important;
  font-weight: bold !important;
  letter-spacing: -1.5px !important;
}

.le-text--h2 {
  font-size: 2rem !important;
  font-weight: 600 !important;
  letter-spacing: -0.5px !important;
}

.le-text--h3 {
  font-size: 1.75rem !important;
  font-weight: 500 !important;
  letter-spacing: 0 !important;
}

.le-text--h4 {
  font-size: 1.5rem !important;
  font-weight: 500 !important;
  letter-spacing: 0.25px !important;
}

.le-text--h5 {
  font-size: 1.25rem !important;
  font-weight: 500 !important;
  letter-spacing: 0 !important;
}

.le-text--h6 {
  font-size: 1rem !important;
  font-weight: 400 !important;
  letter-spacing: 0.15px !important;
}

.le-text--subtitle-1 {
  font-size: 1rem !important;
  font-weight: 400 !important;
  letter-spacing: 0.15px !important;
}

.le-text--subtitle-2 {
  font-size: 0.875rem !important;
  font-weight: 600 !important;
  letter-spacing: 0.1px !important;
}

.le-text--body-1 {
  font-size: 1rem !important;
  font-weight: 400 !important;
  letter-spacing: 0.5px !important;
}

.le-text--body-2 {
  font-size: 0.875rem !important;
  font-weight: 500 !important;
  letter-spacing: 0.25px !important;
}

.le-text--button {
  font-size: 0.875rem !important;
  font-weight: 600 !important;
  letter-spacing: 1.25px !important;
  text-transform: uppercase !important;
}

.le-text--caption {
  font-size: 0.75rem !important;
  font-weight: 400 !important;
  letter-spacing: 1.4px !important;
}

.le-text--overline {
  font-size: 0.625rem !important;
  font-weight: 400 !important;
  letter-spacing: 1.5px !important;
  text-transform: uppercase !important;
}

.le-text--link {
  cursor: pointer;
}

.le-flex {
  display: flex;
}

.le-flex--row {
  flex-direction: row;
}

.le-flex--column {
  flex-direction: column;
}

.le-flex--row-reverse {
  flex-direction: row-reverse;
}

.le-align-items--start {
  align-items: flex-start;
}

.le-align-items--center {
  align-items: center;
}

.le-align-items--end {
  align-items: flex-end;
}

.le-justify-content--start {
  justify-content: flex-start;
}

.le-justify-content--flex-start {
  justify-content: flex-start;
}

.le-justify-content--center {
  justify-content: center;
}

.le-justify-content--flex-end {
  justify-content: flex-end;
}

.le-justify-content--space-between {
  justify-content: space-between;
}

.le-justify-content--space-around {
  justify-content: space-around;
}

.le-button {
  font-weight: 600;
  outline: none;
  border-radius: 4px;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}
.le-button.le-button--filled {
  border: none !important;
}
.le-button.le-button--filled.le-button--primary {
  color: #ffffff;
  background: #3680e7;
}
.le-button.le-button--filled.le-button--primary:hover {
  background: #1966d1;
}
.le-button.le-button--filled.le-button--secondary {
  color: #ffffff;
  background: #8ca9d5;
}
.le-button.le-button--filled.le-button--secondary:hover {
  background: #678dc7;
}
.le-button.le-button--filled.le-button--success {
  color: #ffffff;
  background: #70c1b3;
}
.le-button.le-button--filled.le-button--success:hover {
  background: #4db1a0;
}
.le-button.le-button--filled.le-button--danger {
  color: #ffffff;
  background: #f25f5c;
}
.le-button.le-button--filled.le-button--danger:hover {
  background: #ee312d;
}
.le-button.le-button--filled.le-button--warning {
  color: #ffffff;
  background: #ffd166;
}
.le-button.le-button--filled.le-button--warning:hover {
  background: #ffc233;
}
.le-button.le-button--filled.le-button--default {
  color: #ffffff;
  background: #e3e6ed;
  color: #3c3c3c;
}
.le-button.le-button--filled.le-button--default:hover {
  background: #c4cad9;
}
.le-button.le-button--small {
  padding: 0.4rem 0.7rem;
  font-size: 0.625rem;
}
.le-button.le-button--medium {
  padding: 0.5rem 0.8rem;
  font-size: 0.875rem;
}
.le-button.le-button--large {
  padding: 0.6rem 0.9rem;
  font-size: 1rem;
}
.le-button.le-button--disabled {
  cursor: not-allowed !important;
  background: #afafaf !important;
  color: #3c3c3c !important;
}
.le-button.le-button--disabled:hover {
  background: #afafaf !important;
}