@import "../../styles/variables.scss";

.le-button {
	font-weight: 600;
	outline: none;
	border-radius: 4px;
	transition: all 0.15s ease-in-out;
	cursor: pointer;
	border: none;

	&.le-button--filled {
		@each $color, $value in $variant-colors {
			&.le-button--#{$color} {
				color: $color-light-text;
				background: $value;

				&:hover {
					background: darken($value, 10%);
				}

				@if $color == "default" {
					color: $color-dark-text;
				}
			}
		}
	}

	&.le-button--outlined {
		border: 1px solid;

		@each $color, $value in $variant-colors {
			&.le-button--#{$color} {
				color: $value;
				background: transparent;
				border-color: $value;

				&:hover {
					background: rgba($value, 0.25);
					color: $value;
				}

				@if $color == "default" {
					color: $color-dark-text;
					border-color: $value;

					&:hover {
						color: $color-dark-text;
						border-color: darken($value, 20%);
					}
				}
			}
		}
	}

	&.le-button--ghost {
		@each $color, $value in $variant-colors {
			&.le-button--#{$color} {
				color: $value;
				background: transparent;

				&:hover {
					background: rgba($value, 25%);
					color: $value;
				}

				@if $color == "default" {
					color: $color-dark-text;

					&:hover {
						color: $color-dark-text;
					}
				}
			}
		}
	}

	&.le-button--small {
		padding: 0.4rem 0.7rem;
		font-size: 0.625rem;
	}

	&.le-button--medium {
		padding: 0.5rem 0.8rem;
		font-size: 0.875rem;
	}

	&.le-button--large {
		padding: 0.6rem 0.9rem;
		font-size: 1rem;
	}

	&.le-button--disabled {
		cursor: not-allowed !important;
		background: #afafaf !important;
		color: #3c3c3c !important;

		&:hover {
			background: #afafaf !important;
		}
	}
}
