@use "../../styles/variables.scss" as *;

.le-button {
	font-weight: 600;
	outline: none;
	border-radius: 6px;
	transition: all 0.1s ease-in-out;
	cursor: pointer;
	border: none;

	&--filled {
		&.le-button--default {
			background: var(--le-color-default);
			color: var(--le-color-textTwo);

			&:hover {
				border-color: var(--le-color-defaultHover);
				background: var(--le-color-defaultHover);
			}
		}

		@each $color, $value in $variant-colors {
			&.le-button--#{$color} {
				color: var(--le-color-textInverse);
				background: $value;
				border: 1px solid $value;

				&:hover {
					background: get-color-hover($color);
					border-color: get-color-hover($color);
				}
			}
		}

		&.le-button--dark {
			color: var(--le-color-textOne);
		}
	}

	&--outlined {
		border: 1px solid;

		@each $color, $value in $variant-colors {
			&.le-button--#{$color} {
				color: $value;
				background: transparent;
				border-color: $value;

				&:hover {
					background: var(--le-color-#{$color}Ghost);
					color: var(--le-color-#{$color}Hover);
				}
			}
		}

		&.le-button--default {
			background: transparent;
			color: var(--le-color-textTwo);
			border-color: var(--le-color-default);

			&:hover {
				color: var(--le-color-textTwo);
				border-color: var(--le-color-defaultHover);
				background: var(--le-color-defaultGhost);
			}
		}
	}

	&--ghost {
		&.le-button--default {
			color: var(--le-color-textTwo);

			&:hover {
				color: var(--le-color-textTwo);
				background: var(--le-color-defaultGhost);
			}
		}

		@each $color, $value in $variant-colors {
			&.le-button--#{$color} {
				color: $value;
				background: transparent;

				&:hover {
					background: var(--le-color-#{$color}Ghost);
					color: var(--le-color-#{$color}Hover);
				}
			}
		}
	}

	&--small {
		padding: 0.4rem 0.8rem;
		font-size: 0.75rem;
	}

	&--medium {
		padding: 0.5rem 0.9rem;
		font-size: 0.875rem;
	}

	&--large {
		padding: 0.6rem 1rem;
		font-size: 1rem;
	}

	&--disabled {
		cursor: not-allowed !important;
		background: $color-variant-disabled !important;
		color: var(--le-color-placeholder) !important;
		border-color: $color-variant-disabled !important;
	}
}
