@import "./variables.scss";

body {
	font-family: "Poppins", sans-serif;
	background: var(--le-color-backgroundOne);
	color: var(--le-color-textOne);
	scroll-behavior: smooth;
}
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: var(--le-color-border);
}

::-webkit-scrollbar-thumb {
	background: var(--le-color-border);
}