body {
	overflow: hidden;
	overflow-y: scroll;
	font-family: "Poppins", sans-serif;
}

input,
select,
textarea,
button {
	font-family: "Poppins", sans-serif;
}

html {
	scroll-behavior: smooth;
}
