$color-variant-primary: #4384de;
$color-variant-secondary: #8ca9d5;
$color-variant-success: #70c1b3;
$color-variant-danger: #f25f5c;
$color-variant-warning: #ffd166;
$color-variant-default: #c4cad9;
$color-variant-border: #eaedf3;
$color-variant-disabled: #cdcdcd;

$color-variant-primary-hover: #1966d1;
$color-variant-secondary-hover: #678dc7;
$color-variant-success-hover: #4db1a0;
$color-variant-danger-hover: #ee312d;
$color-variant-warning-hover: #ffc233;
$color-variant-default-hover: #b3b9c6;
$color-variant-border-hover: #d8dce8;

$color-dark-text: #3a3a3a;
$color-darker-text: #2a2a2a;
$color-light-text: #efefef;
$color-lighter-text: #ffffff;

$color-placeholder-text: #989ba7;

$color-leux-theme: #f0c06a;

$variant-colors: (
	primary: $color-variant-primary,
	secondary: $color-variant-secondary,
	success: $color-variant-success,
	danger: $color-variant-danger,
	warning: $color-variant-warning,
	default: $color-variant-default,
	border: $color-variant-border,
);

$text-typography: (
	h1: 2.5rem bold -1.5px,
	h2: 2rem 600 -0.5px,
	h3: 1.75rem 500 0,
	h4: 1.5rem 500 0.25px,
	h5: 1.25rem 500 0,
	h6: 1rem 400 0.15px,
	subtitle-1: 1rem 400 0.15px,
	subtitle-2: 1rem 600 0.1px,
	body-1: 0.875rem 400 0.5px,
	body-2: 0.875rem 500 0.25px,
	button: 0.875rem 600 1.25px,
	caption: 0.75rem 400 1.4px,
	overline: 0.625rem 400 1.5px,
);

$text-colors: (
	dark: $color-dark-text,
	light: $color-light-text,
	darker: $color-darker-text,
	lighter: $color-lighter-text,
);

$justify-classes: (flex-start, center, flex-end, space-between, space-around);
