$color-variant-primary: #5d69d9;
$color-variant-secondary: #8ca9d5;
$color-variant-success: #70c1b3;
$color-variant-danger: #f25f5c;
$color-variant-warning: #ffd166;
$color-variant-disabled: #cdcdcd;

$color-variant-primary-hover: #454fae;
$color-variant-secondary-hover: #678dc7;
$color-variant-success-hover: #4db1a0;
$color-variant-danger-hover: #ee312d;
$color-variant-warning-hover: #ffc233;

$variant-colors: (
	primary: $color-variant-primary,
	secondary: $color-variant-secondary,
	success: $color-variant-success,
	danger: $color-variant-danger,
	warning: $color-variant-warning,
);

$variant-colors-hover: (
	primary: $color-variant-primary-hover,
	secondary: $color-variant-secondary-hover,
	success: $color-variant-success-hover,
	danger: $color-variant-danger-hover,
	warning: $color-variant-warning-hover,
);

$text-typography: (
	h1: 2.5rem bold -1.5px,
	h2: 2rem 600 -0.5px,
	h3: 1.75rem 500 0,
	h4: 1.5rem 500 0.25px,
	h5: 1.25rem 500 0,
	h6: 1rem 400 0.15px,
	subtitle-1: 1rem 400 0.15px,
	subtitle-2: 1rem 600 0.1px,
	body-1: 0.875rem 400 0.5px,
	body-2: 0.875rem 500 0.25px,
	button: 0.75rem 700 1.25px,
	caption: 0.75rem 400 1.4px,
	tip: 0.625 400 1.5px,
	overline: 0.625rem 400 1.5px,
);

$justify-classes: (flex-start, center, flex-end, space-between, space-around);
$base-unit: 6px;

$units-arr: (1, 2, 3, 4, 5, 6, 7, 8);

@function unit($index) {
	@return $index * $base-unit;
}

@function get-color-hover($color) {
	@return map-get($variant-colors-hover, $color);
}
// Use $typography to get the typography value
//
// @param {String} $typography - The typography key
// @param {String} $value - The value to get from the typography key
// 1 - font-size
// 2 - font-weight
// 3 - letter-spacing
@function typography($typography, $value: null) {
	$elem: map-get($text-typography, $typography);

	@if $value {
		@return nth($elem, $value);
	}

	@return nth($elem, 1);
}
