@import "../../styles/variables.scss";

.le-textarea {
	border-radius: 6px;
	border: none;
	line-height: normal;
	transition: all 0.1s ease-in-out;
	font-weight: 500;

	&--filled {
		background-color: var(--le-color-inputBackground);
		color: var(--le-color-textTwo);
	}
	&--outlined {
		background: transparent;
		border: 1px solid var(--le-color-inputBackground);
		color: var(--le-color-textTwo);
	}

	&--small {
		font-size: 0.75rem;
		padding: 0.5rem 0.75rem;
	}
	&--medium {
		font-size: 0.875rem;
		padding: 0.625rem 0.875rem;
	}

	&--large {
		font-size: 1rem;
		padding: 0.75rem 1.125rem;
	}

	&::placeholder {
		color: var(--le-color-placeholder);
		opacity: 1;
	}

	&:focus {
		outline: 2px solid var(--le-color-primary);
	}

	&:-ms-input-placeholder {
		color: var(--le-color-placeholder);
	}

	&::-ms-input-placeholder {
		color: var(--le-color-placeholder);
	}

	&--disabled {
		cursor: not-allowed !important;
		background: var(--le-color-disabled) !important;
		color: var(--le-color-placeholder) !important;
	}
}
