@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
	font-family: "Poppins", sans-serif;
	font-size: 62.5%;
	padding: 0;
	margin: 0;
}

* {
	font-family: "Poppins", sans-serif;
	margin: 0;
	box-sizing: border-box;
}
