@use "../../styles/variables.scss" as *;

.le-toast {
	pointer-events: all;

	width: fit-content;
	height: fit-content;

	display: flex;
	align-items: center;
	justify-content: flex-start;

	border-radius: unit(1);

	box-shadow: rgba(149, 157, 165, 0.1) 0px 2px 24px;

	animation: leToastShow 0.3s ease-in-out forwards;

	&--small {
		padding: 0.25rem 0.5rem;
		font-size: 0.75rem;

		max-width: 12.5rem;
	}

	&--medium {
		padding: 0.5rem 0.75rem;
		font-size: 0.875rem;

		max-width: 15rem;
	}

	&--large {
		padding: 0.75rem 0.875rem;
		font-size: 1rem;

		max-width: 16.25rem;
	}

	&--filled {
		@each $color, $value in $variant-colors {
			&.le-toast--#{$color} {
				color: var(--le-color-textInverse);
				background: $value;
				border: 1px solid $value;

				&.le-toast--closable {
					&:hover {
						cursor: pointer;
						background: var(--le-color-#{$color}Hover);
						border-color: var(--le-color-#{$color}Hover);
					}
				}
			}
		}

		&.le-toast--default {
			background: var(--le-color-default);
			color: var(--le-color-textTwo);

			&.le-toast--closable {
				&:hover {
					cursor: pointer;
					background: var(--le-color-defaultHover);
					border-color: var(--le-color-defaultHover);
				}
			}
		}

		&.le-toast--dark {
			color: var(--le-color-textOne);
		}
	}

	@keyframes leToastShow {
		from {
			opacity: 0;
			transform: translateY(100%);
		}

		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
}
