@use "./variables.scss" as *;
@use "./theme.scss" as *;

body {
	font-size: 62.5%;
	padding: 0;
	margin: 0;
}

* {
	outline: none;
	box-sizing: border-box;
}

button,
select,
input,
textarea {
	font-family: var(--le-font-family), sans-serif;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: var(--le-color-border);
}

::-webkit-scrollbar-thumb {
	background: var(--le-color-textOne);
}
