.le-text--link {
	cursor: pointer;
}

.le-flex {
	display: flex;
}

.le-flex--row {
	flex-direction: row;
}

.le-flex--column {
	flex-direction: column;
}

.le-flex--row-reverse {
	flex-direction: row-reverse;
}

.le-align-items--start {
	align-items: flex-start;
}

.le-align-items--center {
	align-items: center;
}

.le-align-items--end {
	align-items: flex-end;
}

.le-justify-content--start {
	justify-content: flex-start;
}
