$color-variant-primary: #3680e7;
$color-variant-secondary: #8ca9d5;
$color-variant-success: #70c1b3;
$color-variant-danger: #f25f5c;
$color-variant-warning: #ffd166;
$color-variant-default: #e3e6ed;

$color-dark-text: #3c3c3c;
$color-light-text: #ffffff;

$variant-colors: (
	primary: $color-variant-primary,
	secondary: $color-variant-secondary,
	success: $color-variant-success,
	danger: $color-variant-danger,
	warning: $color-variant-warning,
	default: $color-variant-default,
);

$text-typography: (
	h1: 2.5rem bold -1.5px,
	h2: 2rem 600 -0.5px,
	h3: 1.75rem 500 0,
	h4: 1.5rem 500 0.25px,
	h5: 1.25rem 500 0,
	h6: 1rem 400 0.15px,
	subtitle-1: 1rem 400 0.15px,
	subtitle-2: 0.875rem 600 0.1px,
	body-1: 1rem 400 0.5px,
	body-2: 0.875rem 500 0.25px,
	button: 0.875rem 600 1.25px,
	caption: 0.75rem 400 1.4px,
	overline: 0.625rem 400 1.5px,
);

$text-colors: (
	dark: $color-dark-text,
	light: $color-light-text,
);

@each $color, $value in $variant-colors {
	.le-color-text--#{$color} {
		color: $value !important;
	}
}

@each $color, $value in $text-colors {
	.le-color-text--#{$color} {
		color: $value !important;
	}
}

@each $typography, $values in $text-typography {
	.le-text--#{$typography} {
		font-size: nth($values, 1) !important;
		font-weight: nth($values, 2) !important;
		letter-spacing: nth($values, 3) !important;

		@if $typography == "button" {
			text-transform: uppercase !important;
		}

		@if $typography == "overline" {
			text-transform: uppercase !important;
		}
	}
}

.le-text--link {
	cursor: pointer;
}

.le-flex {
	display: flex;
}

.le-flex--row {
	flex-direction: row;
}

.le-flex--column {
	flex-direction: column;
}

.le-flex--row-reverse {
	flex-direction: row-reverse;
}

.le-align-items--start {
	align-items: flex-start;
}

.le-align-items--center {
	align-items: center;
}

.le-align-items--end {
	align-items: flex-end;
}

.le-justify-content--start {
	justify-content: flex-start;
}

$justify-classes: (flex-start, center, flex-end, space-between, space-around);

@each $justify in $justify-classes {
	.le-justify-content--#{$justify} {
		justify-content: $justify;
	}
}
