.le-preview {
	padding: 8px;
	margin: 8px 0;
	border-radius: 8px;
	border: 1px solid var(--le-color-border);
	display: flex;
	flex-direction: column;

	&--footer {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;

		margin-top: 8px;

		&-code {
			font-size: 0.75rem;
			color: var(--le-color-textTwo);

			&:hover {
				cursor: pointer;
				color: var(--le-color-primary);
			}
		}
	}

	&--content {
		display: flex;
		flex-wrap: wrap;
		gap: unit(2);

		&-column {
			flex-direction: column;
			align-items: flex-start;
		}

		&-row {
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
		}
	}
}
