@import "../../styles/variables.scss";

.le-spinner {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	&--circle {
		&::after {
			content: "";
			position: absolute;
			border-radius: 50%;
			border-style: solid;
			border-top-color: transparent !important;
			animation-name: leSpinAnimation;
			animation-duration: 1s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}

		&::before {
			content: "";
			display: block;
			border-radius: 50%;
			border-style: solid;
			border-color: var(--le-color-border);
		}
	}

	@each $color, $value in $variant-colors {
		&--#{$color} {
			&::after {
				border-color: $value;
			}
		}
	}

	&--small {
		padding: 0.25rem;

		&::after,
		&::before {
			width: 16px;
			height: 16px;
			border-width: 3px;
		}
	}

	&--medium {
		padding: 0.325rem;

		&::after,
		&::before {
			width: 24px;
			height: 24px;
			border-width: 4px;
		}
	}

	&--large {
		padding: 0.5rem;

		&::after,
		&::before {
			width: 48px;
			height: 48px;
			border-width: 5px;
		}
	}

	&--custom {
		&-color {
			&::after {
				border-color: var(--spinner-color);
			}
		}

		&-speed {
			&::after {
				animation-duration: var(--spinner-speed);
			}
		}

		&-size {
			&::after,
			&::before {
				width: var(--spinner-size);
				height: var(--spinner-size);
			}
		}
	}

	@keyframes leSpinAnimation {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}
