@use "../../styles/variables.scss" as *;

h1,
.le-text-h1 {
	font-size: 2.5rem;
	line-height: 3rem;
	font-weight: bold;
	letter-spacing: -1.5px;
	margin: 1rem 0;
	font-family: var(--le-font-family);
}

h2,
.le-text-h2 {
	font-size: 2rem;
	line-height: 2.5rem;
	font-weight: 600;
	letter-spacing: -0.5px;
	margin: 0.875rem 0;
	font-family: var(--le-font-family);
}

h3,
.le-text-h3 {
	font-size: 1.75rem;
	line-height: 2.25rem;
	font-weight: 500;
	letter-spacing: 0;
	margin: 0.75rem 0;
	font-family: var(--le-font-family);
}

h4,
.le-text-h4 {
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 500;
	letter-spacing: 0.25px;
	margin: 0.625rem 0;
	font-family: var(--le-font-family);
}

h5,
.le-text-h5 {
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 500;
	letter-spacing: 0;
	margin: 0.5rem 0;
	font-family: var(--le-font-family);
}

h6,
.le-text-h6 {
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 400;
	letter-spacing: 0.15px;
	margin: 0.375rem 0;
	font-family: var(--le-font-family);
}

@each $typography, $values in $text-typography {
	.le-text-#{$typography} {
		font-size: nth($values, 1);
		font-weight: nth($values, 2);
		letter-spacing: nth($values, 3);
		font-family: var(--le-font-family);
	}
}
