@use "../../styles/variables.scss" as *;

.le-select {
	border-radius: 6px;
	outline: 0;
	border: 0;
	font-weight: 500;
	line-height: normal;
	color: var(--le-color-textTwo);

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	background: url("./down-arrow.svg");
	background-repeat: no-repeat;

	&--wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		width: fit-content;
		height: fit-content;

		position: relative;
	}

	&--clear {
		position: absolute;
		right: 8px;
		z-index: 3;
		font-size: 14px;
		color: var(--le-color-textTwo);

		&:hover {
			cursor: pointer;
			color: var(--le-color-textOne);
		}
	}

	&--filled {
		background-color: var(--le-color-inputBackground);
		color: var(--le-color-textTwo);
	}

	&--outlined {
		border: 1px solid var(--le-color-inputBackground);
		color: var(--le-color-textTwo);
	}

	&--option {
		color: var(--le-color-textTwo) !important;

		&-disabled {
			color: $color-variant-disabled !important;
		}
	}

	&--small {
		font-size: 0.75rem;
		padding: 0.5rem 0.75rem;
		padding-right: 1.5rem;
		background-position: calc(100% - 2px);
		background-size: 20px;
	}

	&--medium {
		font-size: 0.875rem;
		padding: 0.625rem 0.875rem;
		padding-right: 1.625rem;
		background-position: calc(100% - 2px);
		background-size: 22px;
	}

	&--large {
		font-size: 1rem;
		padding: 0.75rem 1.125rem;
		padding-right: 1.75rem;
		background-position: calc(100% - 2px);
		background-size: 24px;
	}

	&:focus {
		outline: 2px solid $color-variant-primary;
	}

	&:-ms-input-placeholder {
		color: var(--le-color-placeholder);
	}

	&::-ms-input-placeholder {
		color: var(--le-color-placeholder);
	}

	&--disabled {
		cursor: not-allowed !important;
		background: $color-variant-disabled !important;
		color: var(--le-color-textOne) !important;
	}

	&--placeholder-color {
		color: var(--le-color-placeholder) !important;
	}

	&--disabled {
		cursor: not-allowed !important;
		background: $color-variant-disabled !important;
		color: var(--le-color-textOne) !important;
	}
}

.le-select--hide-placeholder {
	display: none;
}
