@import "../../styles/variables.scss";

.le-select {
	position: relative;
	font-weight: 500;
	line-height: 100%;
	font-family: "Poppins", sans-serif;
	-webkit-appearance: none;
	color: $color-dark-text;

	transition: all 0.1s ease-in-out;

	&--filled {
		input {
			background-color: $color-variant-border;
		}
	}

	&--outlined {
		input {
			border: 1px solid $color-variant-border;
		}
	}

	&--small {
		font-size: 0.75rem;

		input {
			padding: 0.5rem 0.75rem;
		}
	}

	&--medium {
		font-size: 0.875rem;

		input {
			padding: 0.625rem 0.875rem;
		}
	}

	&--large {
		font-size: 1rem;

		input {
			padding: 0.75rem 1.125rem;
		}
	}

	&--focus {
		input {
			outline: 2px solid $color-variant-primary !important;
		}
	}

	&--input {
		border-radius: 4px;
		outline: 0;
		border: 0;
		font-family: inherit;
		font-weight: inherit;
		line-height: inherit;
		font-size: inherit;
		cursor: pointer;

		&::placeholder {
			color: $color-placeholder-text;
			opacity: 1;
		}

		&:-ms-input-placeholder {
			color: $color-placeholder-text;
		}

		&::-ms-input-placeholder {
			color: $color-placeholder-text;
		}
	}

	&--dropdown {
		position: absolute;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;

		z-index: 9999;
		width: 100%;
		margin-top: 5px;

		font-size: inherit;
		font-family: inherit;
		font-weight: 400;
		line-height: inherit;

		max-height: 400px;

		transition: inherit;

		border: 1px solid $color-variant-border;
		background: white;
		border-radius: 4px;
		cursor: default;
		overflow: hidden;
		overflow-y: auto;
		color: inherit;

		.le-option {
			line-height: 100%;
			font-size: inherit;
			padding: 0.625rem;
			cursor: pointer;
			width: 100%;
			transition: inherit;
			color: inherit;

			&:hover {
				background-color: rgba($color-variant-primary, 0.2);
			}

			&--selected {
				background-color: $color-variant-primary !important;
				color: white !important;
			}
		}
	}
}
