@import "../../styles/variables.scss";

.le-select {
	position: relative;
	font-weight: 500;
	line-height: 100%;
	font-family: "Poppins", sans-serif;
	color: $color-dark-text;

	&--filled {
		input {
			background-color: $color-variant-border;
		}
	}

	&--outlined {
		input {
			border: 1px solid $color-variant-border;
		}
	}

	&--small {
		font-size: 0.75rem;

		input {
			padding: 0.5rem 0.75rem;
		}
	}

	&--medium {
		font-size: 0.875rem;

		input {
			padding: 0.625rem 0.875rem;
		}
	}

	&--large {
		font-size: 1rem;

		input {
			padding: 0.75rem 1.125rem;
		}
	}

	&--focus {
		input {
			outline: 2px solid $color-variant-primary !important;
		}
	}

	&--input {
		border-radius: 4px;
		outline: 0;
		border: 0;
		font-family: inherit;
		font-weight: inherit;
		line-height: inherit;
		font-size: inherit;
		cursor: default;
		position: relative;
		padding-right: 24px !important;

		&:placeholder-shown {
			text-overflow: ellipsis;
		}

		&::placeholder {
			color: $color-placeholder-text;
			opacity: 1;
		}

		&:-ms-input-placeholder {
			color: $color-placeholder-text;
		}

		&::-ms-input-placeholder {
			color: $color-placeholder-text;
		}
	}

	&--dropdown {
		position: absolute;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;

		z-index: 9999;
		width: 100%;
		margin-top: 5px;

		font-size: inherit;
		font-family: inherit;
		font-weight: 400;
		line-height: inherit;

		max-height: 400px;

		transition: inherit;

		border: 1px solid $color-variant-border;
		background: white;
		border-radius: 4px;
		cursor: default;
		overflow: hidden;
		overflow-y: auto;
		color: inherit;
		max-height: 298px;

		animation: fadeIn 0.1s ease-in forwards;

		.le-option {
			line-height: 100%;
			font-size: inherit;
			padding: 0.625rem;
			width: 100%;
			transition: inherit;

			&:hover {
				background-color: rgba($color-variant-primary, 0.2);
			}

			&--selected {
				background-color: $color-variant-primary !important;
				color: white !important;
			}
		}
	}

	&--actions {
		position: absolute;
		width: fit-content;
		height: 100%;
		color: red;
		top: 0;
		bottom: 0;
		right: 4px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 0.5rem;
		transition: all 0.1s ease-in-out;

		&--arrow {
			margin-bottom: 4px;
			border: solid $color-placeholder-text;
			border-width: 0 2px 2px 0;
			display: flex;

			padding: 2px 2px;
			padding-left: 4px;
			padding-top: 4px;

			transform: rotate(45deg);
			-webkit-transform: rotate(45deg);

			&.focused {
				border-color: $color-variant-primary;
			}
		}
	}

	&--disabled {
		input {
			cursor: not-allowed !important;
			background: $color-variant-disabled !important;
			color: $color-darker-text !important;
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		max-height: 0;
	}
	to {
		opacity: 1;
		max-height: 298px;
	}
}
