@import "../../styles/variables.scss";

.le-skeleton {
	width: fit-content;
	height: fit-content;

	display: flex;

	overflow: hidden;

	position: relative;

	&--paragraph {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	&--round,
	&--rect {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&--small {
		padding: 0.4rem 0;
	}

	&--medium {
		padding: 0.6rem 0;
	}

	&--large {
		padding: 0.8rem 0;
	}
}

.le-skeleton--row {
	background: $color-variant-border;

	position: relative;

	&-paragraph {
		width: 100%;
		border-radius: 4px;

		&-small {
			height: 1rem;
			margin: 0.2rem 0;
		}

		&-medium {
			height: 1.4rem;
			margin: 0.3rem 0;
		}

		&-large {
			height: 1.8rem;
			margin: 0.4rem 0;
		}

		&:first-child {
			width: 100% !important;
		}

		&:last-child {
			width: 80%;
		}
	}

	&-round {
		border-radius: 50%;
	}

	&-round,
	&-rect {
		width: 100%;
		margin: 0;

		&-small {
			width: 32px;
			height: 32px;
			min-width: 32px;
			min-height: 32px;
			max-width: 32px;
			max-height: 32px;
		}

		&-medium {
			width: 64px;
			height: 64px;
			min-width: 64px;
			min-height: 64px;
			max-width: 64px;
			max-height: 64px;
		}

		&-large {
			width: 128px;
			height: 128px;
			min-width: 128px;
			min-height: 128px;
			max-width: 128px;
			max-height: 128px;
		}
	}

	&-active {
		&::after {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			transform: translateX(-100%);
			background-image: linear-gradient(
				90deg,
				rgba($color-light-background, 0) 0,
				rgba($color-light-background, 0.5) 30%,
				rgba($color-light-background, 0.5) 60%,
				rgba($color-light-background, 0)
			);
			animation: leSkeletonActive 2s infinite;
			content: "";
		}
	}

	@keyframes leSkeletonActive {
		100% {
			transform: translateX(100%);
		}
	}
}
