@import "../../core/styles/variables.scss";

.le-anchor-nav {
	width: 180px;
	overflow: hidden;
	margin-left: 12px;
	margin-top: 32px;
	color: $color-dark-text;


	position: relative;

	.fixed-content {
		position: fixed;
		width: 180px;

		.le-anchor-links {
			display: flex;
			flex-direction: column;

			.le-anchor-link {
				margin: 6px 0;
				font-weight: 400;
				cursor: pointer;
				transition: all 0.1s ease-in-out;

				&.active {
					font-weight: bold;
					color: $color-darker-text;
				}

				&:hover {
					font-weight: 500;
				}
			}
		}
	}
}
