@import "../../core/styles/variables.scss";

.le-anchor-nav {
	width: 132px;
	height: 100vh;

	color: $color-dark-text;

	position: relative;

	.fixed-content {
		position: fixed;
		width: 132px;
		border-left: 1px solid $color-variant-default;
		padding-left: 12px;
		padding-top: 32px;
		height: 100%;

		.le-anchor-links {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			max-height: 100vh;
			height: fit-content;
			overflow: hidden;
			overflow-y: scroll;
			-ms-overflow-style: none;
			overflow: -moz-scrollbars-none;
			scrollbar-width: none;

			&::-webkit-scrollbar {
				display: none;
			}

			.le-anchor-link {
				margin: 6px 0;
				font-weight: 400;
				cursor: pointer;
				transition: all 0.1s ease-in-out;

				&.active {
					font-weight: bold !important;
					color: $color-darker-text;
				}

				&:hover {
					font-weight: 500;
				}
			}
		}
	}
}
