@import "src/core/styles/variables.scss";

.le-search {
	display: flex;
	width: fit-content;
	height: fit-content;
	position: relative;

	&--input {
		height: 38px;
		border: 1px solid var(--le-color-border);
		background: var(--le-color-border);
		border-radius: 32px;
		min-width: 140px;
		max-width: 280px;
		width: 30vw;
		padding: 4px 18px;
		font-size: 14px;
		overflow: hidden;
		text-overflow: ellipsis;
		color: var(--le-color-textTwo);
		transition: outline 0.05s ease-in-out;
		padding-right: 32px;

		&:focus {
			outline: 2px solid $color-variant-primary;
		}
	}

	&--icon {
		position: absolute;
		right: 12px;
		display: flex;
		height: 100%;
		align-items: center;
		color: var(--le-color-placeholder);

		&-focus {
			color: $color-variant-primary;
			svg {
				stroke-width: 2.5;
			}
		}
	}

	&--dropdown {
		position: absolute;
		display: flex;
		flex-direction: column;
		top: 50px;
		width: 100%;
		background: white;
		border-radius: unit(1);
		border: 1px solid var(--le-color-border);
		background: var(--le-color-backgroundTwo);
		overflow: hidden;
		overflow-y: auto;
		max-height: 298px;
		box-shadow: rgba(149, 157, 165, 0.1) 0px 2px 24px;

		animation: leuxFadeInFromTop 0.2s ease-in forwards;

		&-link {
			padding: 8px 12px;
			font-size: 14px;
			font-weight: 500;
			color: var(--le-color-textTwo);

			&:hover {
				cursor: pointer;
				background: $color-variant-primary;
				color: white;
			}
		}

		&-empty {
			padding: 8px 12px;
			font-size: 14px;
			font-weight: 500;
			color: var(--le-color-textTwo);
		}
	}
}

@keyframes leuxFadeInFromTop {
	0% {
		opacity: 0;
		max-height: 0;
	}
	100% {
		opacity: 1;
		max-height: 298px;
	}
}

@media (max-width: 1080px) {
	.le-search {
		&--input {
			width: 100%;
		}
	}
}
