@import "../../core/styles/variables.scss";

.le-markdown {
	color: var(--le-color-textTwo);
	text-align: justify;

	a {
		color: var(--le-color-primary);
	}

	p {
		margin: 12px 0;
		line-height: 160%;
	}

	pre {
		width: 100%;
		border-radius: unit(1);
		font-weight: 500;
		margin: 12px 0;
		padding: 18px !important;

		code {
			border-radius: 0;
			font-weight: 500;
			font-size: 0.875rem;
			padding: 0;
			background: transparent;
		}
	}

	code {
		padding: 2px 6px;
		border-radius: unit(1);
		font-weight: 500;
		background: var(--le-color-border);
	}

	ul {
		display: flex;
		flex-direction: column;

		&:not(.le-dropdown) {
			gap: 6px;
		}
	}

	ul:not(.le-dropdown) {
		margin: 12px 0;
		font-size: 0.875rem;
	}

	hr {
		margin: 12px 0;
		margin-top: 24px;
		border-color: #efefef33;
	}

	.tooltip-custom--arrow::after {
		border-color: purple transparent transparent transparent;
	}

	.custom-dot {
		appearance: none;
		position: relative;

		&::before {
			content: "";
			display: block;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			z-index: 1;
			border: 1px solid var(--le-color-border);
		}

		&:hover::before {
			box-shadow: 0 0 12px 2px rgba($color-variant-success, 0.1);
			border-color: rgba($color-variant-success, 0.8);
		}

		&:checked::before {
			border-color: $color-variant-success;
		}

		&:checked::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;

			width: 4px;
			height: 4px;
			border-radius: 50%;
			padding: 2px;
			background-color: $color-variant-success;
		}
	}

	.custom-select {
		&:hover,
		&:focus,
		&:active {
			outline: none !important;
			background: black !important;
		}
	}
}
