.le-app-header {
	height: 65px;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid var(--le-color-border);

	position: fixed;
	background: var(--le-color-backgroundOne);
	z-index: 99;

	&--content {
		padding: 4px 16px;
		width: 100%;
		max-width: 1080px;

		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;

		&--sm {
			max-width: 798px;
		}

		&--md {
			max-width: 1080px;
		}

		&--lg {
			max-width: 1280px;
		}

		&--xl {
			max-width: 1440px;
		}

		.flex-1 {
			display: flex;
			flex: 1;
		}

		.le-logo {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-direction: row;

			flex: 0.1 1 auto;

			.le-logo--content {
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				height: fit-content;

				.le-logo--title {
					font-weight: bold;
					color: transparent;
					position: relative;
					-webkit-text-stroke: 2px var(--le-color-primary);
					margin: 0;
				}

				.le-logo--shadow {
					font-weight: bold;
					color: var(--le-color-primary);
					position: absolute;
					animation: wave 4s ease-in-out infinite;
					margin: 0;
				}
			}

			&--minimal {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 12px;
			}
		}

		.le-nav {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;

			.le-nav--item {
				margin: 0 12px;
				color: var(--le-color-textTwo);
				transition: all 0.2s ease-in-out;

				.le-nav--link {
					text-decoration: none;
					cursor: pointer;
					font-weight: 600;
					display: flex;
					align-items: center;
					justify-content: center;

					transition: all 0.1s ease-in-out;

					color: var(--le-color-textTwo);

					&:active,
					&:visited,
					&:focus {
						color: var(--le-color-textTwo);
					}

					&:hover {
						color: var(--le-color-primary) !important;
					}
				}
			}
		}
	}

	@keyframes wave {
		0%,
		100% {
			clip-path: polygon(
				0% 45%,
				15% 44%,
				32% 50%,
				54% 60%,
				70% 61%,
				84% 59%,
				100% 52%,
				100% 100%,
				0% 100%
			);
		}
		50% {
			clip-path: polygon(
				0% 60%,
				16% 65%,
				34% 66%,
				51% 62%,
				67% 50%,
				84% 45%,
				100% 46%,
				100% 100%,
				0% 100%
			);
		}
	}
}
