.le-source--button {
	padding: 8px 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 100%;

	color: var(--le-color-textTwo);
	border: 1px solid var(--le-color-border);
	border-radius: unit(1);
	background: var(--le-color-backgroundTwo);
	cursor: pointer;
	transition: all 0.1s ease-in-out;

	gap: unit(1);

	&:hover {
		color: var(--le-color-primary);
		border-color: var(--le-color-primary);
		background: rgba(#afafaf, 0.15);
	}
}
