@import "../../styles/variables.scss";

.le-checkbox {
	display: flex;
	flex-direction: row;
	align-items: center;

	&--input {
		margin: 0;
	}

	&--label {
		margin-left: 6px;
		color: var(--le-color-textTwo);
	}

	&--small {
		.le-checkbox--label {
			font-size: 12px;
		}

		.le-checkbox--input {
			width: 12px;
			height: 12px;
		}
	}

	&--medium {
		.le-checkbox--label {
			font-size: 14px;
		}

		.le-checkbox--input {
			width: 14px;
			height: 14px;
		}
	}

	&--large {
		.le-checkbox--label {
			font-size: 16px;
		}

		.le-checkbox--input {
			width: 16px;
			height: 16px;
		}
	}

	&--disabled {
		cursor: not-allowed !important;

		.le-checkbox--input {
			cursor: inherit;
		}

		.le-checkbox--label {
			cursor: inherit;
			color: var(--le-color-placeholder) !important;
		}
	}
}
