@import "../../core/styles/variables.scss";

.le-anchor {
	cursor: pointer;
	color: var(--le-color-textTwo);
	text-decoration: underline;

	&:hover {
		color: var(--le-color-primary);
	}
}
