@import "src/core/styles/variables.scss";

.le-sidenav {
	width: 220px;
	padding: 24px;
	height: 100vh;
	position: fixed;

	padding-top: 80px;

	display: flex;
	flex-direction: column;

	color: $color-dark-text;

	.le-sidenav--section {
		display: flex;
		flex-direction: column;

		margin: 4px 0;

		.le-sidenav--header {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.le-sidenav--links {
			display: flex;
			flex-direction: column;

			a {
				margin: 6px;
				margin-left: 18px;
				color: $color-dark-text;
				text-decoration: none;
				font-weight: 400;

				&.active {
					font-weight: 600 !important;
				}
			}
		}
	}
}
