@import "../../core/styles/variables.scss";

.le-sidenav {
	width: 132px;
	padding-left: 0;
	height: 100vh;
	margin-top: 32px;
	margin-right: 12px;

	display: flex;
	flex-direction: column;

	color: $color-dark-text;
	position: relative;

	.fixed-content {
		position: fixed;
		width: 144px;

		.overflow-content {
			max-height: calc(100vh - 114px);
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			overflow: hidden;
			overflow-y: auto;
			padding-right: 12px;

			.le-sidenav--section {
				display: flex;
				flex-direction: column;

				margin: 4px 0;

				.le-sidenav--header {
					display: flex;
					align-items: center;
					justify-content: space-between;
				}

				.le-sidenav--links {
					display: flex;
					flex-direction: column;
					flex-wrap: wrap;

					a {
						margin: 6px 0;
						margin-left: 18px;
						color: $color-dark-text;
						text-decoration: none;
						font-weight: 400;
						transition: all 0.1s ease-in-out;

						&.active {
							font-weight: bold !important;
						}

						&:hover {
							font-weight: 500;
						}
					}
				}
			}
		}
	}
}
