name: Build docs
on:
  push:
    branches:
      - dev
	pull_request:
		branches:
			- main
jobs:
  build-doc:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16.14.x
      - name: Install docs dependencies
        working-directory: ./docs
        run: npm install
      - name: Build docs
        working-directory: ./docs
        run: npm run build
